@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
body {
  font-family: 'Titillium Web', sans-serif;
}

.content:before {
  content: "";
  position: fixed;
  left: -16;
  right: 0;
  z-index: -1;
  background-attachment: fixed;
  background-image: url("../images/tech.jpg");
  width: 200%;
  height: 200%;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.content {
  left: -20px;
  right: -20px;
  z-index: 0;
}

.content:before,
.jumbo_display {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.badge {
  font-size: 22px;
  padding: 5px 8px;
  margin: 0px 7px;
}

nav.navbar.navbar-inverse {
  margin-bottom: 0px;
  border-radius: 0px;
  position: fixed;
  z-index: 9999;
  width: 100%;
  background-color: #011a22;
}

.jumbo_display {
  text-align: center;
  color: #ffffff;
  padding-top: 61px;
  padding-bottom: 0px;
  margin-bottom: 60px;
}

hr {
  width: 13%;
}

.hr-header {
  margin-top: 0;
  margin-bottom: 6px;
}

p.p-header {
  margin: 0;
}

.branding {
  margin-top: 6%;
  border: 0;
}

.space {
  width: 100%;
  height: 500%;
  background-color: #eee0;
}

#about_me,
#projects {
  margin-top: 60px;
}

#about_me,
.branding,
#projects,
#contact,
.jumbo_display {
  background-color: #357fa2;
}

#about_me,
.branding,
.projects-text {
  color: #010d15;
}

.thumbnail p,
.thumbnail h3,
a.btn,
#contact,
#contact i,
a.badge:hover {
  color: #357fa2;
}

.headshot {
  padding-left: 19%;
}

blockquote {
  font-size: 21.5px;
}

strong,
.w-link:hover,
a.btn:hover,
#contact i:hover,
.navbar-inverse a#quote.navbar-brand:hover,
.navbar-inverse a#quote.navbar-brand,
footer,
footer small,
.c-link,
.click-photo {
  color: #e4e4e4;
}

.navbar-inverse a#quote.navbar-brand {
  cursor: default;
}

.w-link,
a.w-link {
  color: #040608;
  ;
}

.w-link:hover,
.w-link:active,
.c-link:hover {
  text-decoration: none;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}

div.text-center.well,
.thumbnail {
  border: 7px solid rgb(1, 13, 21);
}

.thumbnail {
  height: 100%;
  text-align: center;
  padding: 0;
}

.panel-footer,
.thumbnail,
div.text-center.well {
  background-color: rgb(1, 13, 21);
}

.panel-footer {
  border-top: 0;
}

.thumbnail a {
  font-size: 16px;
}

hr.thumbnail-title {
  width: 41%;
}

.list-inline a {
  font-size: 36px;
}

#contact {
  margin-bottom: 0;
}

#contact p {
  margin-top: 13%;
}

.well-photo {
  height: 377px;
  width: 258px;
}

cite {
  display: block;
}

footer {
  background-color: #021a23;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding: 9px;
  font-size: 21px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  footer {
    height: 20%;
  }
  nav {
    display: none;
  }
  .headshot {
    padding-left: 6%;
  }
  .jumbo_display {
    padding-top: 59px;
  }
  hr {
    width: 59%
  }
  .col-md-4 {
    margin-bottom: 22px;
  }
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-m-1 {
    width: 8.33%;
  }
  .col-m-2 {
    width: 16.66%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33%;
  }
  .col-m-5 {
    width: 41.66%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33%;
  }
  .col-m-8 {
    width: 66.66%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33%;
  }
  .col-m-11 {
    width: 91.66%;
  }
  .col-m-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
