@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

body {
  font-family: 'Titillium Web', sans-serif;
}

.content:before {
  content: "";
  position: fixed;
  left: -16;
  right: 0;
  z-index: -1;
  background-attachment: fixed;
  background-image: url("../images/body_background.jpg");
  background-color: #282925;
  width: 200%;
  height: 200%;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.content {
  left: -20px;
  right: -20px;
  z-index: 0;
}

.content:before, .jumbo_display {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.navbar-inverse a#quote.navbar-brand:hover {
 color: #9d9d9d;
}

.badge {
  font-size: 22px;
  padding: 5px 8px;
}

.badge-primary {
  background-color: #3a87ad;
}

.badge-primary:hover {
  background-color: #2d6987;
}

.badge-dark {
  background-color: #1a1a1a;
}

.badge-dark:hover {
  background-color: #333333;
}

nav.navbar.navbar-inverse {
  margin-bottom: 0px;
  border-radius: 0px;
  position: fixed;
  z-index: 9999;
  width: 100%;
  background-color: #011a22;
}

.jumbo_display {
  background-image: url("../images/tech.jpg");
  text-align: center;
  color: #ffffff;
  padding-top: 129px;
  padding-bottom: 75px;
  margin-bottom: 60px;
}

hr {
  width: 13%;
}

.branding {
  margin-top: 13%;
  border: 0;
}

.space {
  width: 100%;
  height: 500%;
  background-color: #eee0;
}

#about_me, #products {
  margin-top: 60px;
}

#about_me, .branding, #projects, #contact {
  background-color: #357fa2;
}

#about_me, .branding, .products-text, #contact {
  color: #010d15;
}

.thumbnail p, .thumbnail h3, a.btn {
   color: #357fa2;
}

.headshot {
  padding-left: 100px;
}

blockquote {
  font-size: 21.5px;
}

strong, .w-link:hover, a.btn:hover {
  color: #e4e4e4;
}

.w-link, a.w-link {
  color: #2d363e;
}

.w-link:hover, .w-link:active {
  text-decoration: none;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.thumbnail {
  height: 100%;
  text-align: center;
  border: 7px solid rgb(1, 13, 21);
  padding: 0;
}

.panel-footer, .thumbnail {
  background-color: rgb(1, 13, 21);
}

.panel-footer {
  border-top: 0;
}

/*.thumbnail {
  display: flex;
  flex-direction: column;
}

.thumbnail .caption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}*/

/*.thumbnail h3 {
  text-align: center;
}*/

.thumbnail a {
  font-size: 16px;
}

hr.thumbnail-title {
  width: 41%;
}

.list-inline a {
  font-size: 36px;
}

#contact p {
  margin-top: 13%;
}

.well-photo {
  height: 350px;
  width: 220px;
}

.photo-container {
  clear: both;
  height: 300px;
  position: relative;
  margin: auto;
  text-align: center;
}

#jewelry-photo {
  float: left;
  margin-left: 80px;
}

#dance-photo {
  float: right;
  margin-right: 80px
}

#well-box {
  height: 600px;
}

.photo-container p {
  display: inline-block;
  margin: 10px;
}
